# **Set Up**

In [1]:
import kaggle
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import plotly.express as px

import os
from zipfile import ZipFile

# **Import Data**

In [2]:
!kaggle datasets download -d iamsouravbanerjee/data-science-salaries-2023

data-science-salaries-2023.zip: Skipping, found more recently modified local copy (use --force to force download)

In [3]:
with ZipFile("data-science-salaries-2023.zip", "r") as zip_ref:
    # Get list of file names in zip
    list_of_files = zip_ref.namelist()
    print('No. Of Files In Zip File: ',len(list_of_files),'\n')
    print(list_of_files)

No. Of Files In Zip File:  1

['Latest_Data_Science_Salaries.csv']

In [4]:
# Extract Zip File Contents In Main Directory
with ZipFile("data-science-salaries-2023.zip", "r") as zip_ref:
    # Get list of file names in zip
    list_of_files = zip_ref.namelist()

    for file in list_of_files:
        file_content = zip_ref.read(file)
        with open(os.path.basename(file), "wb") as f:
                f.write(file_content)

In [5]:
# Read CSV File As Dataframe
df = pd.read_csv('Latest_Data_Science_Salaries.csv')
print(df.shape)
df.head()

(3300, 11)

,Job Title,Employment Type,Experience Level,Expertise Level,Salary,Salary Currency,Company Location,Salary in USD,Employee Residence,Company Size,Year
0,Data Engineer,Full-Time,Senior,Expert,210000,United States Dollar,United States,210000,United States,Medium,2023
1,Data Engineer,Full-Time,Senior,Expert,165000,United States Dollar,United States,165000,United States,Medium,2023
2,Data Engineer,Full-Time,Senior,Expert,185900,United States Dollar,United States,185900,United States,Medium,2023
3,Data Engineer,Full-Time,Senior,Expert,129300,United States Dollar,United States,129300,United States,Medium,2023
4,Data Scientist,Full-Time,Senior,Expert,140000,United States Dollar,United States,140000,United States,Medium,2023

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3300 entries, 0 to 3299
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Job Title           3300 non-null   object
 1   Employment Type     3300 non-null   object
 2   Experience Level    3300 non-null   object
 3   Expertise Level     3300 non-null   object
 4   Salary              3300 non-null   int64
 5   Salary Currency     3300 non-null   object
 6   Company Location    3300 non-null   object
 7   Salary in USD       3300 non-null   int64
 8   Employee Residence  3300 non-null   object
 9   Company Size        3300 non-null   object
 10  Year                3300 non-null   int64
dtypes: int64(3), object(8)
memory usage: 283.7+ KB

In [7]:
df.describe()

             Salary  Salary in USD         Year
count  3.300000e+03    3300.000000  3300.000000
mean   2.046623e+05  142095.983939  2022.495455
std    7.279383e+05   69028.235512     0.716355
min    1.400000e+04   15000.000000  2020.000000
25%    9.416900e+04   90000.000000  2022.000000
50%    1.400000e+05  136000.000000  2023.000000
75%    1.900000e+05  185000.000000  2023.000000
max    3.040000e+07  450000.000000  2023.000000

In [8]:
# Check For Missing Data
df.isna().sum()

Job Title             0
Employment Type       0
Experience Level      0
Expertise Level       0
Salary                0
Salary Currency       0
Company Location      0
Salary in USD         0
Employee Residence    0
Company Size          0
Year                  0
dtype: int64

# **Data Exploration**

In [9]:
# No. Of Unique Job Titles
print('No. Of Unique Job Titles: ',len(df['Job Title'].unique()))

No. Of Unique Job Titles:  111

In [12]:
# Top 10 Job Titles By Count
df['Job Title'].value_counts().to_frame()[:10]

                           count
Job Title
Data Engineer                702
Data Scientist               635
Data Analyst                 459
Machine Learning Engineer    300
Analytics Engineer           132
Research Scientist           104
Data Architect                84
ML Engineer                   59
Data Science Manager          59
Research Engineer             57

In [13]:
# Top 10 Job Titles By Salary
df.groupby('Job Title')['Salary in USD'].mean().sort_values(ascending=False).to_frame()[:10]

                                Salary in USD
Job Title
Analytics Engineering Manager   399880.000000
Data Science Tech Lead          375000.000000
Managing Director Data Science  300000.000000
AWS Data Architect              258000.000000
Cloud Data Architect            250000.000000
AI Architect                    237484.000000
Data Analytics Lead             211255.500000
Director of Data Science        209800.315789
Principal Data Scientist        193988.444444
Principal Data Engineer         192500.000000

In [14]:
# Salary Statistics For Top 10 Job Titles
df.groupby('Job Title')['Salary in USD'].agg(['count','min',"mean", "max"]).sort_values(by='count',ascending=False)[:10]

                           count    min           mean     max
Job Title
Data Engineer                702  17025  142033.874644  333500
Data Scientist               635  16000  141886.163780  412000
Data Analyst                 459  15000  109500.376906  430967
Machine Learning Engineer    300  20000  167249.513333  392000
Analytics Engineer           132  48000  154258.962121  430640
Research Scientist           104  23000  171074.634615  450000
Data Architect                84  52500  165423.940476  376080
Data Science Manager          59  54094  186074.050847  328000
ML Engineer                   59  15966  188072.423729  383910
Research Engineer             57  32390  176613.526316  370000

In [30]:
# Top 10 Employee Locations For Data Science Job
df.groupby('Employee Residence')['Employee Residence'].agg(['count']).sort_values(by='count',ascending=False)[:10]

                    count
Employee Residence
United States        2453
United Kingdom        245
Canada                101
Germany                58
India                  57
Spain                  50
France                 47
Australia              18
Portugal               18
Netherlands            16

In [32]:
# Top 10 Company Locations For Data Science Job
df.groupby('Company Location')['Company Location'].agg(['count']).sort_values(by='count',ascending=False)[:10]

                  count
Company Location
United States      2495
United Kingdom      251
Canada              104
Germany              65
Spain                47
India                44
France               42
Australia            21
Portugal             16
Netherlands          14

In [34]:
print(df['Employment Type'].unique())
print(df['Experience Level'].unique())
print(df['Expertise Level'].unique())

['Full-Time' 'Contract' 'Part-Time' 'Freelance']
['Senior' 'Mid' 'Executive' 'Entry']
['Expert' 'Intermediate' 'Director' 'Junior']

In [50]:
# Employee Count By Employment Type
df.groupby('Employment Type')['Employment Type'].agg(['count']).sort_values(by='count',ascending=False)

                 count
Employment Type
Full-Time         3261
Contract            15
Part-Time           13
Freelance           11

In [44]:
# Employee Count By Experience Level
px.bar(df.groupby('Experience Level')['Experience Level'].agg(['count']).sort_values(by='count',ascending=False))

In [49]:
# Employee Count By Expertise Level
px.bar(df.groupby('Expertise Level')['Expertise Level'].agg(['count']).sort_values(by='count',ascending=False))

In [15]:
df.columns

Index(['Job Title', 'Employment Type', 'Experience Level', 'Expertise Level',
       'Salary', 'Salary Currency', 'Company Location', 'Salary in USD',
       'Employee Residence', 'Company Size', 'Year'],
      dtype='object')

In [56]:
# Top 3 Job Titles
df.groupby('Job Title')['Job Title'].agg(['count']).sort_values(by='count',ascending=False)[0:3]

                count
Job Title
Data Engineer     702
Data Scientist    635
Data Analyst      459

In [61]:
df[df['Job Title']=='Data Engineer'].groupby('Expertise Level')['Expertise Level'].agg(['count']).sort_values(by='count',ascending=False)

                 count
Expertise Level
Expert             440
Intermediate       166
Director            53
Junior              43