# **Set Up**

* https://towardsdatascience.com/college-football-conference-realignment-exploratory-data-analysis-in-python-6f4a74037572

In [5]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
from geopy.geocoders import Nominatim

# **Get Wikipedia Data**

In [6]:
# Get the HTML content from the wikipedia link
url = "https://en.wikipedia.org/wiki/List_of_NCAA_Division_I_FBS_football_programs"
response = requests.get(url)
html = response.text

# Parse the HTML content using BeautifulSoup
soup = BeautifulSoup(html, "html.parser")

# Find the table element that contains the data
table = soup.find("table", {"class": "wikitable sortable"})

# Extract the table headers and data rows
headers = [th.text.strip() for th in table.find_all("th")]
rows = [[td.text.strip() for td in tr.find_all("td")] for tr in table.find_all("tr")[1:]]

# Create a pandas dataframe from the table data
df = pd.DataFrame(rows, columns=headers)

# Save the dataframe as a CSV file
df.to_csv("FBS_Football_Cities.csv", index=False)

# **Import Data**

In [47]:
# Import dependencies

# Read csv data with column 'City' and column 'State'
df = pd.read_csv('FBS_Football_Cities.csv', encoding = 'unicode_escape')
df.shape

(133, 9)

In [48]:
df

,Team,Nickname,City,State[2],Enrollment,Currentconference,Formerconferences,Firstplayed,JoinedFBS
0,Air Force,Falcons,USAF Academy/Colorado Springs[n 1],Colorado,"4,181",Mountain West,WAC,1955,NaN
1,Akron,Zips,Akron,Ohio,"14,516",MAC,"OAC, MCC, OVC",1891,1987
2,Alabama,Crimson Tide,Tuscaloosa,Alabama,"38,316",SEC,"SIAA, SoCon",1892,NaN
3,Appalachian State,Mountaineers,Boone,North Carolina,"20,641",Sun Belt,"NSC, SoCon",1928,2014[n 2]
4,Arizona,Wildcats,Tucson,Arizona,"49,471",Pac-12,"BIAA, WAC",1899,NaN
...,...,...,...,...,...,...,...,...,...
128,West Virginia,Mountaineers,Morgantown,West Virginia,"25,474",Big 12,"SoCon, WVIAC, Big East",1891,NaN
129,Western Kentucky,Hilltoppers,Bowling Green,Kentucky,"16,750",C-USA,"SIAA, KIAC, OVC, MVFC, Sun Belt",1913,2009
130,Western Michigan,Broncos,Kalamazoo,Michigan,"19,038",MAC,MCC,1905,NaN
131,Wisconsin,Badgers,Madison,Wisconsin,"47,932",Big Ten,None[n 8],1889,NaN
132,Wyoming,Cowboys,Laramie,Wyoming,"11,479",Mountain West,"Colorado Football Association, RMAC, WAC",1893,NaN

In [49]:
df = df.rename(columns={'State[2]':'State'})
df.columns

Index(['Team', 'Nickname', 'City', 'State', 'Enrollment', 'Currentconference',
       'Formerconferences', 'Firstplayed', 'JoinedFBS'],
      dtype='object')

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 133 entries, 0 to 132
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Team               133 non-null    object
 1   Nickname           133 non-null    object
 2   City               133 non-null    object
 3   State              133 non-null    object
 4   Enrollment         133 non-null    object
 5   Currentconference  133 non-null    object
 6   Formerconferences  133 non-null    object
 7   Firstplayed        133 non-null    object
 8   JoinedFBS          34 non-null     object
dtypes: object(9)
memory usage: 9.5+ KB

In [51]:
df.describe()

,Team,Nickname,City,State,Enrollment,Currentconference,Formerconferences,Firstplayed,JoinedFBS
count,133,133,133,133,133,133,133,133,34
unique,133,100,126,41,133,17,101,57,24
top,Air Force,Tigers,Athens,Texas,"4,181",ACC,"SIAA, SoCon",1892,2012
freq,1,5,2,13,1,14,10,12,4

In [53]:
len(df['City'].unique())

126

# **Get Coordinates Of Cities**

In [ ]:
for i in df.index:

    City = df['City'][i]
    State = df['State'][i]

    City_Name = str(City)

In [46]:
# for each city in the dataframe, get the latitude and longitude and # add them to the lists
index = 0

for i in city_list_df['City']:
    city_name = str(city)+', '+str(city_list_df['State'][index])
    
    # Two cities needed some manual cleaning
    if index == 39:
        city_name = 'Urbana, Illinois'
    elif index == 92:
        city_name = 'San Jose, California'
    
    print(city_name)
    print(index)
    
    # calling the Nominatim tool
    loc = Nominatim(user_agent="GetLoc")
 
    # entering the location name
    getLoc = loc.geocode(city_name)
    
    # add the latitude and longitude to their respective lists
    lat_list.append(getLoc.latitude)
    long_list.append(getLoc.longitude)
    
    index = index + 1

USAF Academy/Colorado Springs[n 1], Colorado
0

AttributeError: 'NoneType' object has no attribute 'latitude'