# **Setup**

In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

# Set Style
plt.style.use('ggplot')

# **Data Import**

In [2]:
df = pd.read_csv('coaster_db.csv')
print(df.shape)
df.head()

(1087, 56)

,coaster_name,Length,Speed,Location,Status,Opening date,Type,Manufacturer,Height restriction,Model,...,speed1,speed2,speed1_value,speed1_unit,speed_mph,height_value,height_unit,height_ft,Inversions_clean,Gforce_clean
0,Switchback Railway,600 ft (180 m),6 mph (9.7 km/h),Coney Island,Removed,"June 16, 1884",Wood,LaMarcus Adna Thompson,NaN,Lift Packed,...,6 mph,9.7 km/h,6.0,mph,6.0,50.0,ft,NaN,0,2.9
1,Flip Flap Railway,NaN,NaN,Sea Lion Park,Removed,1895,Wood,Lina Beecher,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,12.0
2,Switchback Railway (Euclid Beach Park),NaN,NaN,"Cleveland, Ohio, United States",Closed,NaN,Other,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
3,Loop the Loop (Coney Island),NaN,NaN,Other,Removed,1901,Steel,Edwin Prescott,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
4,Loop the Loop (Young's Pier),NaN,NaN,Other,Removed,1901,Steel,Edwin Prescott,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN

In [3]:
# Check Columns
df.columns

Index(['coaster_name', 'Length', 'Speed', 'Location', 'Status', 'Opening date',
       'Type', 'Manufacturer', 'Height restriction', 'Model', 'Height',
       'Inversions', 'Lift/launch system', 'Cost', 'Trains', 'Park section',
       'Duration', 'Capacity', 'G-force', 'Designer', 'Max vertical angle',
       'Drop', 'Soft opening date', 'Fast Lane available', 'Replaced',
       'Track layout', 'Fastrack available', 'Soft opening date.1',
       'Closing date', 'Opened', 'Replaced by', 'Website',
       'Flash Pass Available', 'Must transfer from wheelchair', 'Theme',
       'Single rider line available', 'Restraint Style',
       'Flash Pass available', 'Acceleration', 'Restraints', 'Name',
       'year_introduced', 'latitude', 'longitude', 'Type_Main',
       'opening_date_clean', 'speed1', 'speed2', 'speed1_value', 'speed1_unit',
       'speed_mph', 'height_value', 'height_unit', 'height_ft',
       'Inversions_clean', 'Gforce_clean'],
      dtype='object')

In [4]:
df.dtypes

coaster_name                      object
Length                            object
Speed                             object
Location                          object
Status                            object
Opening date                      object
Type                              object
Manufacturer                      object
Height restriction                object
Model                             object
Height                            object
Inversions                       float64
Lift/launch system                object
Cost                              object
Trains                            object
Park section                      object
Duration                          object
Capacity                          object
G-force                           object
Designer                          object
Max vertical angle                object
Drop                              object
Soft opening date                 object
Fast Lane available               object
Replaced                          object
Track layout                      object
Fastrack available                object
Soft opening date.1               object
Closing date                      object
Opened                            object
Replaced by                       object
Website                           object
Flash Pass Available              object
Must transfer from wheelchair     object
Theme                             object
Single rider line available       object
Restraint Style                   object
Flash Pass available              object
Acceleration                      object
Restraints                        object
Name                              object
year_introduced                    int64
latitude                         float64
longitude                        float64
Type_Main                         object
opening_date_clean                object
speed1                            object
speed2                            object
speed1_value                     float64
speed1_unit                       object
speed_mph                        float64
height_value                     float64
height_unit                       object
height_ft                        float64
Inversions_clean                   int64
Gforce_clean                     float64
dtype: object

In [5]:
df.describe()

,Inversions,year_introduced,latitude,longitude,speed1_value,speed_mph,height_value,height_ft,Inversions_clean,Gforce_clean
count,932.000000,1087.000000,812.000000,812.000000,937.000000,937.000000,965.000000,171.000000,1087.000000,362.000000
mean,1.547210,1994.986201,38.373484,-41.595373,53.850374,48.617289,89.575171,101.996491,1.326587,3.824006
std,2.114073,23.475248,15.516596,72.285227,23.385518,16.678031,136.246444,67.329092,2.030854,0.989998
min,0.000000,1884.000000,-48.261700,-123.035700,5.000000,5.000000,4.000000,13.100000,0.000000,0.800000
25%,0.000000,1989.000000,35.031050,-84.552200,40.000000,37.300000,44.000000,51.800000,0.000000,3.400000
50%,0.000000,2000.000000,40.289800,-76.653600,50.000000,49.700000,79.000000,91.200000,0.000000,4.000000
75%,3.000000,2010.000000,44.799600,2.778100,63.000000,58.000000,113.000000,131.200000,2.000000,4.500000
max,14.000000,2022.000000,63.230900,153.426500,240.000000,149.100000,3937.000000,377.300000,14.000000,12.000000

# **Data Preparation**

## **Drop Columns**

In [9]:
df = df.loc[:,['coaster_name', 
        #   'Length', 'Speed', 
        'Location', 'Status', 'Opening date','Type',
        'Manufacturer', 
        # 'Height restriction', 'Model', 'Height', 'Inversions', 'Lift/launch system', 'Cost', 'Trains',
        # 'Park section', 'Duration', 'Capacity', 'G-force', 'Designer', 'Max vertical angle',
    #    'Drop', 'Soft opening date', 'Fast Lane available', 'Replaced',
    #    'Track layout', 'Fastrack available', 'Soft opening date.1',
    #    'Closing date', 
    # 'Opened', 'Replaced by', 'Website',
    #    'Flash Pass Available', 'Must transfer from wheelchair', 'Theme',
    #    'Single rider line available', 'Restraint Style',
    #    'Flash Pass available', 'Acceleration', 'Restraints', 'Name',
       'year_introduced', 'latitude', 'longitude', 'Type_Main', 'opening_date_clean', 
    #    'speed1', 'speed2', 'speed1_value', 'speed1_unit',
       'speed_mph', 
    #    'height_value', 'height_unit', 
    'height_ft','Inversions_clean', 'Gforce_clean']].copy()
df.head()

,coaster_name,Location,Status,Opening date,Type,Manufacturer,year_introduced,latitude,longitude,Type_Main,opening_date_clean,speed_mph,height_ft,Inversions_clean,Gforce_clean
0,Switchback Railway,Coney Island,Removed,"June 16, 1884",Wood,LaMarcus Adna Thompson,1884,40.5740,-73.9780,Wood,1884-06-16,6.0,NaN,0,2.9
1,Flip Flap Railway,Sea Lion Park,Removed,1895,Wood,Lina Beecher,1895,40.5780,-73.9790,Wood,1895-01-01,NaN,NaN,1,12.0
2,Switchback Railway (Euclid Beach Park),"Cleveland, Ohio, United States",Closed,NaN,Other,NaN,1896,41.5800,-81.5700,Other,NaN,NaN,NaN,0,NaN
3,Loop the Loop (Coney Island),Other,Removed,1901,Steel,Edwin Prescott,1901,40.5745,-73.9780,Steel,1901-01-01,NaN,NaN,1,NaN
4,Loop the Loop (Young's Pier),Other,Removed,1901,Steel,Edwin Prescott,1901,39.3538,-74.4342,Steel,1901-01-01,NaN,NaN,1,NaN

## **Rename Columns**

In [10]:
df.columns

Index(['coaster_name', 'Location', 'Status', 'Opening date', 'Type',
       'Manufacturer', 'year_introduced', 'latitude', 'longitude', 'Type_Main',
       'opening_date_clean', 'speed_mph', 'height_ft', 'Inversions_clean',
       'Gforce_clean'],
      dtype='object')

In [13]:
df.rename(columns={'Inversions_clean':'Inversions','Gforce_clean':'Gforce'},inplace=True)
df.columns

Index(['coaster_name', 'Location', 'Status', 'Opening date', 'Type',
       'Manufacturer', 'year_introduced', 'latitude', 'longitude', 'Type_Main',
       'opening_date_clean', 'speed_mph', 'height_ft', 'Inversions', 'Gforce'],
      dtype='object')

## **Check Missing Values**

In [15]:
df.shape

(1087, 15)

In [14]:
df.isna().sum()

coaster_name            0
Location                0
Status                213
Opening date          250
Type                    0
Manufacturer           59
year_introduced         0
latitude              275
longitude             275
Type_Main               0
opening_date_clean    250
speed_mph             150
height_ft             916
Inversions              0
Gforce                725
dtype: int64

## **Check Duplicated Values**

In [17]:
# Check For Duplicates
df.loc[df.duplicated()]

Empty DataFrame
Columns: [coaster_name, Location, Status, Opening date, Type, Manufacturer, year_introduced, latitude, longitude, Type_Main, opening_date_clean, speed_mph, height_ft, Inversions, Gforce]
Index: []

In [22]:
# Check For Duplicates In Individual Column
df.loc[df['coaster_name'].duplicated(),'coaster_name']

43                   Crystal Beach Cyclone
60                             Derby Racer
61             Blue Streak (Conneaut Lake)
167          Big Thunder Mountain Railroad
237      Thunder Run (Canada's Wonderland)
                       ...
1063                    Lil' Devil Coaster
1064    Little Dipper (Conneaut Lake Park)
1080                            Iron Gwazi
1082               American Dreier Looping
1084             Tron Lightcycle Power Run
Name: coaster_name, Length: 97, dtype: object

In [26]:
# Check For Some Duplicated Cosater Names
df.query('coaster_name=="Crystal Beach Cyclone"')

,coaster_name,Location,Status,Opening date,Type,Manufacturer,year_introduced,latitude,longitude,Type_Main,opening_date_clean,speed_mph,height_ft,Inversions,Gforce
39,Crystal Beach Cyclone,Crystal Beach Park,Removed,1926,Wood,Traver Engineering,1926,42.8617,-79.0598,Wood,1926-01-01,60.0,NaN,0,4.0
43,Crystal Beach Cyclone,Crystal Beach Park,Removed,1926,Wood,Traver Engineering,1927,42.8617,-79.0598,Wood,1926-01-01,60.0,NaN,0,4.0

In [27]:
# Check For Some Duplicated Cosater Names
df.query('coaster_name=="Iron Gwazi"')

,coaster_name,Location,Status,Opening date,Type,Manufacturer,year_introduced,latitude,longitude,Type_Main,opening_date_clean,speed_mph,height_ft,Inversions,Gforce
482,Iron Gwazi,Busch Gardens Tampa Bay,Under construction,NaN,Steel – Wooden,Rocky Mountain Construction,1999,28.0339,-82.4231,Steel,NaN,76.0,NaN,2,NaN
1080,Iron Gwazi,Busch Gardens Tampa Bay,Under construction,NaN,Steel – Wooden,Rocky Mountain Construction,2022,28.0339,-82.4231,Steel,NaN,76.0,NaN,2,NaN

In [42]:
# Check Duplicates Across Specified Columns
print(df.duplicated(subset=['coaster_name','Location']).sum())
print(df.duplicated(subset=['coaster_name','Location','Opening date','latitude','longitude']).sum())

# Get Duplicated Rows
df[df.duplicated(subset=['coaster_name','Location','Opening date','latitude','longitude'])].sort_values(by='coaster_name',ascending=True)

97
97

,coaster_name,Location,Status,Opening date,Type,Manufacturer,year_introduced,latitude,longitude,Type_Main,opening_date_clean,speed_mph,height_ft,Inversions,Gforce
780,Afterburn (roller coaster),Carowinds,Operating,"March 20, 1999",Steel – Inverted,Bolliger & Mabillard,2009,35.1003,-80.9409,Steel,1999-03-20,62.0,NaN,6,NaN
270,Alpine Bobsled,Other,NaN,NaN,Steel,Intamin,1989,NaN,NaN,Steel,NaN,35.0,NaN,0,NaN
435,Alpine Bobsled,Other,NaN,NaN,Steel,Intamin,1998,NaN,NaN,Steel,NaN,35.0,NaN,0,NaN
686,American Dreier Looping,Other,NaN,NaN,Steel,Anton Schwarzkopf,2005,NaN,NaN,Steel,NaN,53.0,NaN,3,4.7
738,American Dreier Looping,Other,NaN,NaN,Steel,Anton Schwarzkopf,2007,NaN,NaN,Steel,NaN,53.0,NaN,3,4.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
296,Ultra Twister (Six Flags),Other,NaN,NaN,Steel – Pipeline,TOGO,1990,NaN,NaN,Steel,NaN,44.0,NaN,3,NaN
1044,Untamed (Walibi Holland),Walibi Holland,Operating,"July 1, 2019",Steel,Rocky Mountain Construction,2019,52.4428,5.7608,Steel,2019-07-01,57.2,NaN,5,NaN
347,Wild Mouse (Idlewild),Idlewild and Soak Zone,Operating,1985 (original)1993 (current location)[1],Steel,Vekoma,1993,40.2598,-79.2799,Steel,1985-01-01,30.0,NaN,0,NaN
749,Wipeout (roller coaster),Pleasurewood Hills,Operating,2007,Steel – Shuttle – Boomerang,Vekoma,2007,52.5075,1.7434,Steel,2007-01-01,50.0,NaN,6,NaN
858,Zippin Pippin,Other,NaN,NaN,Wood,The Gravity Group,2011,NaN,NaN,Wood,NaN,40.0,NaN,0,NaN

In [40]:
# Get Non-Duplicated Rows
df[~df.duplicated(subset=['coaster_name','Location','Opening date','latitude','longitude'])]

,coaster_name,Location,Status,Opening date,Type,Manufacturer,year_introduced,latitude,longitude,Type_Main,opening_date_clean,speed_mph,height_ft,Inversions,Gforce
0,Switchback Railway,Coney Island,Removed,"June 16, 1884",Wood,LaMarcus Adna Thompson,1884,40.5740,-73.9780,Wood,1884-06-16,6.0,NaN,0,2.9
1,Flip Flap Railway,Sea Lion Park,Removed,1895,Wood,Lina Beecher,1895,40.5780,-73.9790,Wood,1895-01-01,NaN,NaN,1,12.0
2,Switchback Railway (Euclid Beach Park),"Cleveland, Ohio, United States",Closed,NaN,Other,NaN,1896,41.5800,-81.5700,Other,NaN,NaN,NaN,0,NaN
3,Loop the Loop (Coney Island),Other,Removed,1901,Steel,Edwin Prescott,1901,40.5745,-73.9780,Steel,1901-01-01,NaN,NaN,1,NaN
4,Loop the Loop (Young's Pier),Other,Removed,1901,Steel,Edwin Prescott,1901,39.3538,-74.4342,Steel,1901-01-01,NaN,NaN,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1079,Ice Breaker (roller coaster),SeaWorld Orlando,Under construction,February 2022,Steel – Launched,Premier Rides,2022,28.4088,-81.4633,Steel,2022-02-01,52.0,NaN,0,NaN
1081,Leviathan (Sea World),Sea World,Under construction,Easter 2022,Wood,Martin & Vleminckx,2022,-27.9574,153.4263,Wood,2022-01-01,49.7,105.0,0,NaN
1083,Pantheon (roller coaster),Busch Gardens Williamsburg,Under construction,2022,Steel – Launched,Intamin,2022,37.2339,-76.6426,Steel,2022-01-01,73.0,NaN,2,NaN
1085,Tumbili,Kings Dominion,Under construction,NaN,Steel – 4th Dimension – Wing Coaster,S&S – Sansei Technologies,2022,NaN,NaN,Steel,NaN,34.0,NaN,0,NaN
1086,Wonder Woman Flight of Courage,Six Flags Magic Mountain,Under construction,2022,Steel – Single-rail,Rocky Mountain Construction,2022,NaN,NaN,Steel,2022-01-01,58.0,NaN,3,NaN